footer.mt-auto.py-3.bg-light
  .container.d-flex.justify-content-between
<<<<<<< HEAD
    span © 2025 GG, Todos os direitos reservados
=======
    span © 2025 Company, Inc. All Rights Reserved
>>>>>>> 1d136821bb80d251688e80ebce8407700fe1d242
    ul.mb-0
      li.list-inline-item
        a(href='https://github.com/') GitHub 
      li.list-inline-item
        a(href='https://github.com/') Bugs
      li.list-inline-item
        a(href='/privacy-policy.html') Política de privacidade
      li.list-inline-item
<<<<<<< HEAD
        a(href='/terms-of-use.html') Termos de uso
=======
        a(href='/terms-of-use.html') Terms of Use
>>>>>>> 1d136821bb80d251688e80ebce8407700fe1d242
