footer.mt-auto.py-3.bg-light
  .container.d-flex.justify-content-between
    span © 2025 GG, Todos os direitos reservados
    ul.mb-0
      li.list-inline-item
        a(href='https://github.com/') GitHub 
      li.list-inline-item
        a(href='https://github.com/') Bugs
      li.list-inline-item
        a(href='/privacy-policy.html') Política de privacidade
      li.list-inline-item
        a(href='/terms-of-use.html') Termos de uso